@font-face {
  font-family: prox;
  src: url(./proximanova-bold.otf);
  font-weight: normal;
}

.leaflet-container {
  height: 70vh;
  width: 50vw;
  border-radius: 3%;
}

  @media only screen and (max-width: 600px) {
.leaflet-container {
  margin: 10vw 0vw;
  height: 80vw;
  width: 80vw;
  border-radius: 3%;
}
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #000000;
}

.bm-burger-bars-hover {
  background: #878787;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #555552;
  font-size: 1em;
}
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}
.bm-item {
  display: inline-block;
  padding: 2rem;
}
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* .about-text {
  margin: 0vw 20vw;
  font-size: 14px;
} */

 @media only screen and (max-width: 600px) {
   .about-text {
  margin: 0vw 1vw;
  font-size: 14px;
}
}

h1 {
  text-align: center;
  font-size: 1.5vw;
  margin: 5vw 0vw 0vw;
}

h3 {
  text-align: center;
  padding: 1vw;
}

.skill-text {
  font-size: 1vw;
}

 @media only screen and (max-width: 600px) {
  .skill-text {
  font-size: 14px;
}
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2vw;
}

 @media only screen and (max-width: 600px) {
   a {
  text-decoration: none;
  color: black;
  font-size: 14px;
 }
 }

.b {
  transition: 0.5s;
  text-decoration: none;
}

.b:hover {
  color: grey;
  cursor: pointer;
}

.icon {
  height: 1.5vw;
  width: 1.5vw;
  margin: 0.5vw;
  opacity: 1;
  transition: 0.2s;
}

@media only screen and (max-width: 600px) {
   .icon {
  height: 5vw;
  width: 5vw;
  margin: 3vw;
  opacity: 1;
  transition: 0.2s;
  }
}

.icon:hover {
  opacity: 0.5;
  cursor: pointer;
}